* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: white;
  max-width: 808px;
  margin: 0 auto;
  padding: 96px 0px 64px;
}
main {
  background-color: hsl(0deg, 0%, 40%);
  padding: 72px 0px;
  border-top: 0.5rem solid hsl(0deg, 0%, 60%);
  margin: 0;
}
section {
  padding: 8px 24px 24px;
  background-color: white;
  max-width: 808px;
  margin: 0 auto;
  border-bottom: 0.5rem solid hsl(0deg, 0%, 60%);
}
h1 {
  font-weight: 800;
  margin: 0 0 48px;
  padding: 0 24px;
}
h2 {
  margin-inline-start: -32px;
  margin-block-end: 24px;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  max-width: fit-content;
  border-bottom: 0.5rem solid hsl(45deg, 100%, 40%);
}
p {
  padding: 0;
  margin-block-end: 16px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}
header > p {
  padding: 0 24px;
  max-width: 463px; /* 415 + padding 24*2 */
}
p:last-child {
  margin-block-end: 0;
}
strong {
  color: hsl(160deg, 100%, 30%);
}
